@tailwind base;
@tailwind components;
@tailwind utilities;

/* epilogue-600 - latin */
@font-face {
   font-family: 'Epilogue';
   font-style: normal;
   font-weight: 600;
   src: local(''), url('/fonts/epilogue-v13-latin-600.woff2') format('woff2'),
      url('/fonts/epilogue-v13-latin-600.woff') format('woff');
}

/* montserrat-regular - latin */
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   src: local(''),
      url('/fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   src: local(''), url('/fonts/montserrat-v25-latin-600.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/montserrat-v25-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   src: local(''), url('/fonts/montserrat-v25-latin-700.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/montserrat-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Custom CSS */

body {
   font-family: 'Montserrat', sans-serif;
}

.terra-or:before,
.terra-or:after {
   content: ' ';
   background: black;
   width: 100%;
   max-width: 140px;
   height: 2px;
   position: absolute;
   left: 0;
   top: 50%;
}
.terra-or:after {
   left: initial;
   right: 0;
}

@media screen and (min-width: 768px) {
   .terra-landing-hero {
      background-image: url('/images/desktop-images/landing/produce-background-cropped.png');
   }
}

/* Grid hacks for the landing page */
.terra-works {
   grid-template-areas:
      'title title title mrterra mrterra mrterra'
      'content content content content content content'
      'leftarrow leftarrow dots dots rightarrow rightarrow';
}
@media screen and (min-width: 768px) {
   .terra-works {
      grid-template-areas:
         'title title title mrterra mrterra mrterra'
         'content content content content content content'
         'leftarrow dots dots dots dots rightarrow';
   }
}
@media screen and (min-width: 1024px) {
   .terra-works {
      grid-template-areas:
         'title title title title mrterra mrterra mrterra null'
         'leftarrow content content content content content content rightarrow'
         'dots dots dots dots dots dots dots dots';
   }
}
.terra-works .title {
   grid-area: title;
}
.terra-works .mrterra {
   grid-area: mrterra;
}
.terra-works .content {
   grid-area: content;
}
.terra-works .leftarrow {
   grid-area: leftarrow;
}
.terra-works .rightarrow {
   grid-area: rightarrow;
}

/* Loader CSS */
.terra-ring div {
   width: calc(80px * var(--newSize));
   height: calc(80px * var(--newSize));
}

.terra-ring div div {
   box-sizing: border-box;
   display: block;
   position: absolute;
   width: calc(64px * var(--newSize));
   height: calc(64px * var(--newSize));
   margin: calc(8px * var(--newSize));
   border: calc(8px * var(--newSize)) solid var(--rts-color);
   border-radius: 50%;
   animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   border-color: var(--rts-color) transparent transparent transparent;
}
.terra-ring div div:nth-child(2) {
   animation-delay: -0.45s;
}
.terra-ring div div:nth-child(3) {
   animation-delay: -0.3s;
}
.terra-ring div div:nth-child(4) {
   animation-delay: -0.15s;
}
@keyframes ring {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

/* End Loader CSS */
